[include mainsail.cfg]
#[include mainsail.cfg]
[include display.cfg]
[include bltouch.cfg]
[include extruder.cfg]
[include stepper.cfg]
[include ADXL345_XY.cfg]
[include autospeed.cfg]
[include neopixel neo.cfg]
#[include power plug.cfg]


[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32h743xx_12345-if00 if connected via usb cable using urart so keep this for ref
serial: /dev/ttyAMA0
restart_method: command
[virtual_sdcard]
path: /home/daniel/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 40
max_z_accel: 100

###########################################################

# This file contains common pin mappings for the BigTreeTech SKR 3.
# This board can ship with one of two chips, STM32H743 or STM32H723.
# To use this config, during "make menuconfig" enable "low-level
# options", "STM32H743" or "STM32H723", "128KiB bootloader",
# and "25MHz clock".

# See docs/Config_Reference.md for a description of parameters.

[heater_bed]
heater_pin: PD7
sensor_type: Generic 3950
sensor_pin: PA1
control: watermark
min_temp: 0
max_temp: 90
#########################################
[fan]
pin: PB7

[heater_fan hotend_fan]
pin: PB6
heater: extruder
heater_temp: 50.0

#[heater_fan fan2]
#pin: PB5

############################
[shaketune]
 result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
 number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
 keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
 show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
 timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.


[resonance_tester]
probe_points: 100, 100, 20
accel_chip_x: adxl345 
accel_chip_y: adxl345 






