#[include fluidd.cfg]
[include display.cfg]
[include bltouch.cfg]
[include extruder.cfg]
[include stepper.cfg]
[include ADXL345_XY.cfg]
[include neopixel neo.cfg]
#[include power plug.cfg]
[include mainsail.cfg]
[include KAMP_Settings.cfg]

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32h743xx_12345-if00 if connected via usb cable using urart so keep this for ref
serial: /dev/ttyAMA0
restart_method: command

[virtual_sdcard]
path: /home/daniel/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[display_status]

[pause_resume]

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 40
max_z_accel: 100

[exclude_object]

###########################################################

# This file contains common pin mappings for the BigTreeTech SKR 3.
# This board can ship with one of two chips, STM32H743 or STM32H723.
# To use this config, during "make menuconfig" enable "low-level
# options", "STM32H743" or "STM32H723", "128KiB bootloader",
# and "25MHz clock".

# See docs/Config_Reference.md for a description of parameters.

[heater_bed]
heater_pin: PD7
sensor_type: Generic 3950
sensor_pin: PA1
#control: watermark
min_temp: 0
max_temp: 90

#control: pid
#pid_kp: 72.972
#pid_ki: 0.923
#pid_kd: 1442.106
#########################################
[fan]
pin: PB7

[heater_fan hotend_fan]
pin: PB6
heater: extruder
heater_temp: 50.0

#[heater_fan fan2]
#pin: PB5

############################
#[shaketune]
#    The folder where the results will be stored. It will be created if it doesn't exist.
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.


[resonance_tester]
probe_points: 100, 100, 20
accel_chip: adxl345
#accel_chip_x: adxl345 
#accel_chip_y: adxl345

[autotune_tmc stepper_x]
motor: ldo-42sth48-2004mah
[autotune_tmc stepper_y]
motor: ldo-42sth48-2004mah

[autotune_tmc stepper_z]
motor: ldo-42sth48-2004ac
[autotune_tmc stepper_z1]
motor: ldo-42sth48-2004ac
[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.824707, 0.613457, 0.515957, 0.525957
#*# 	0.594707, 0.352207, 0.220957, 0.239707
#*# 	0.384707, 0.128457, -0.007793, -0.000293
#*# 	0.167207, -0.082793, -0.236543, -0.215293
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 239.99
#*# min_y = 35.0
#*# max_y = 197.99
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.802
#*# pid_ki = 0.810
#*# pid_kd = 1591.318
